@charset "UTF-8";

.icon_flight {
  background-image: url(../../src/components/assets/account-icon-list.png);
  background-position: -1px -1px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 26px;
  margin-right: 5px;
}

.icon_guzhu {
  background-image: url(../../src/components/assets/account-icon-list.png);
  background-position: -1px -36px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 26px;
  margin-right: 5px;
}

.icon_fromApp {
  background-image: url(../../src/components/assets/account-icon-list.png);
  background-position: -1px -74px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 26px;
  margin-right: 5px;
}

.icon_user {
  background-image: url(../../src/components/assets/account-icon-list.png);
  background-position: -1px -110px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 26px;
  margin-right: 5px;
}


.user-icon {
  background: url(../../src/components/assets/user-icon.png) no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: -9px;
}